/* line 1, global.scss */
body {
  display: none;
}

/* line 7, global.scss */
html {
  background: no-repeat center center;
  background-image: url("../img/334.gif");
  width: 100%;
  height: 100%;
}
/* line 13, global.scss */
html.load {
  background: transparent !important;
}
/* line 16, global.scss */
html.load body {
  display: block;
}
