body{
    background: url("../img/bg.jpg") no-repeat #000 !important;
    background-position: bottom !important;
    //background-position: center !important;
}
.title{
    text-align: center;
    margin-top: 30px;
    //background: url("../img/title.png") no-repeat;
    //width
}
.container{
    top: 330px !important;
}
.email{
    margin-top: -50px;
}