body{
    background: url("../img/bg.jpg") no-repeat #000 !important;
    background-position: bottom !important;
    //background-position: center !important;
}
.title{
    text-align: center;
    margin-top: 30px;
    //background: url("../img/title.png") no-repeat;
    //width
}
.container{
    top: 330px !important;
}
.email{
    margin-top: -50px;
}

input{
    height: 24px;
    border-radius: 5px 0 0 5px;
    text-align: center;
    border: 1px solid #555;
}

button{
    background: #960049;
    border: 1px solid #555;
    border-radius: 0 15px 15px 0;
    padding: 5px 8px;
    color: #fff;
    text-shadow: 1px 1px #000;
    margin-left: -2px;
}